# Enable wake from suspend for the Bluetooth adapter.
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0e8d", ATTR{idProduct}=="0717", ATTR{power/wakeup}="enabled"
