* {
  font-family: "Monaspace Neon Var", monospace;
  font-size: 15px;
  background: transparent;
  color: #000000;
  border: none;
  border-radius: 0;
  min-height: 0;
}

#waybar {
  background: rgb(218, 218, 218);
}

.modules-left {
  margin-left: 14px;
}

.modules-right {
  margin-right: 14px;
}

#custom-mouse-battery {
  color: #555555;
}

#clock {
  margin: 0 8px;
  color: #000000;
}

#workspaces button {
  all: initial;
  font-family: "Monaspace Neon Var", monospace;
  font-size: 15px;
  color: #555555;
  min-width: 24px;
  padding: 4px 0;
  margin: 4px 2px;
}

#workspaces button.active {
  color: #000000;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 2px 0;
  margin: 6px 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

#workspaces button:hover {
  color: #000000;
}
