* {
  font-family: "Monaspace Neon Var", monospace;
  font-size: 15px;
  background: transparent;
  color: #000;
  border: none;
  border-radius: 0;
  min-height: 0;
}

#waybar {
  background: #DADADA;
}

.modules-left {
  margin-left: 14px;
}

.modules-right {
  margin-right: 14px;
}

#clock {
  margin: 0 8px;
  color: #000;
}

#custom-bluetooth-battery {
  font-family: "Symbols Nerd Font";
  font-size: 18px;
  color: #000;
  padding: 0 4px;
}

#custom-bluetooth-battery.low {
  color: #A44;
  font-size: 20px;
  padding: 0 2px;
}

#workspaces button {
  all: initial;
  font-family: "Monaspace Neon Var", monospace;
  font-size: 15px;
  color: #555;
  min-width: 24px;
  padding: 4px 0;
  margin: 4px 2px;
}

#workspaces button.active {
  color: #000;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 2px 0;
  margin: 6px 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

#workspaces button:hover {
  color: #000;
}

tooltip {
  background: #333;
  border-radius: 4px;
}

tooltip label {
  color: #FFF;
  font-size: 14px;
}
